.main {
  padding: 33px 27px 43px 22px;
  box-shadow: 0px 5px 25px #0000000d;
  border-radius: 6px;
  background-color: var(--white-color);
  min-height: 831px;
  margin-right: 20px;
}

.inputClass {
  margin-top: 10px;
  margin-bottom: 15px;
}

.inputClassWithError {
  margin-top: 10px;
  margin-bottom: 0px;
}

.labelClassWithError {
  margin-bottom: 0px !important;
}

.main h1 {
  font-weight: bold;
  color: var(--red-color);
  padding-bottom: 28px !important;
  font-size: 28px !important;
  letter-spacing: -0.3px;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 30px;
}

.subBtn {
  margin-top: 10px;
  height: 46px;
  border: none;
  width: 302px;
}

.labelClass {
  font-size: 15px !important;
  margin-bottom: 6px !important;
  margin-top: 10px !important;
  line-height: 19px !important;
  font-weight: 600 !important;
}

.textArealabelClass {
  margin-bottom: 8px !important;
  margin-top: 10px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.phoneInputClass {
  margin-block: 10px 15px !important;
}

.phoneInputClassWithError {
  margin-block: 10px 0px !important;
}

@media (max-width: 1199px) {
  .main {
    margin-right: 0px;
  }
}

@media(min-width: 768px) {
  .main h1 {
    font-size: 24px !important;
  }

  .main .labelClass,
  .main .textArealabelClass,
  .main :global([class*="labelText"]) {
    font-size: 18px !important;
    font-weight: 600 !important;
    margin: 0 0 21px !important;
  }

  .formGroup {
    align-items: unset;
  }

  .main .inputClass {
    margin: 0 0 23px !important;
  }

  .main :global([class*="phoneNumberInput"]) {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
  }
}

@media(min-width: 768px) and (max-width: 1200px) {
  .formGroup {
    flex-direction: column !important;
    gap: 0px;
  }
}

@media(min-width: 768px) and (max-width: 991.2px) {
  .main {
    min-height: auto !important;
  }
}

@media (max-width: 700px) {
  .inputClass {
    margin-top: 0px;
  }
}

@media (max-width: 575px) {
  .formGroup {
    flex-direction: column;
    gap: 0px;
  }
}

@media (max-width: 500px) {
  .labelClass {
    font-size: 16px !important;
  }

  .inputClass {
    margin-top: 0px;
  }

  .subBtn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main h1 {
    font-size: 24px !important;
  }

  .subBtn {
    font-size: 16px;
    margin-top: 17px !important;
  }

  .main .labelClass,
  .main .textArealabelClass,
  .main :global([class*="labelText"]) {
    font-size: 15px !important;
    opacity: 100% !important;
    margin: 0 0 10px !important;
    padding-top: 0 !important;
  }

  .labelClass_padLess {
    padding-top: 0px !important;
    margin-bottom: 3px !important;
  }

  .textAreaClass {
    border: 2px solid rgba(142, 142, 142, 0.45) !important;
  }

  .main {
    padding: 28px 20px !important;
    min-height: auto !important;
  }

  .main h1 {
    padding-bottom: 12px !important;
    padding-top: 0px !important;
    letter-spacing: -0.5px;
  }

  .main input {
    margin-bottom: 6px !important;
  }

  .formGroup {
    flex-direction: column !important;
    gap: 0px;
  }

  .main .inputClass {
    margin: 0 0 15px !important;
  }

  .main :global([class*="phoneNumberInput"]) {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
  }
}

@media (max-width: 375px) {
  .main {
    min-height: 662px !important;
    /* max-height: 659px; */
    max-height: auto !important;
  }
}