.mainDiv {
  width: 100%;
}

.heroSection {
  background-color: var(--light-green-bg);
  padding-block: 0px;
}

.historySection {
  background-color: var(--body-color);
  padding-block: 120px;
}

.leedSection {
  background-color: var(--light-green-bg);
  padding-block: 120px;
}

.announcementSection {
  background-color: var(--body-color);
}

.announcementLeft,
.announcementRight {
  padding-top: 106px;
  padding-bottom: 150px;
}

.announcementLeft {
  padding-right: 27px;
}

.announcementRight {
  padding-left: 27px;
}

@media (max-width: 1200px) {

  .announcementRight,
  .announcementLeft {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (max-width: 992px) {

  .announcementLeft,
  .announcementRight {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .announcementLeft {
    padding-right: 10px;
  }

  .announcementRight {
    padding-left: 10px;
  }
}

@media screen and (max-device-width: 767px) {
  .announcementLeft {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0px !important;
  }

  .announcementRight {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-right: 0px !important;
    padding-left: 0px;
  }
}

@media (max-width: 375px) {
  .aboutTitle {
    margin-bottom: 20px !important;
  }

  .aboutSubTitle {
    padding-top: 2px !important;
    line-height: 26px !important;
  }

  .aboutSubTitle p {
    font-size: 23px !important;
  }

  .announcementLeft>div>div:first-child {
    scale: 1.07;
  }

  .announcementRight {
    padding: 0px !important;
    padding-bottom: 40px !important;
    padding-left: 0px !important;
  }
}