.searchInput {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-bottom: 3px solid #d7d5d1 !important;
  letter-spacing: 0px;
  padding: 16px 0px 31px 0px !important;
  font-size: 18px !important;
  color: #434343;
  padding-right: 35px !important;
}
.searchDiv {
  width: 382px;
}

.searchInput::placeholder {
  font-size: 18px !important;
  color: #434343 !important;
  opacity: 0.68;
  font-weight: 600 !important;
  line-height: 21px !important;
}

.searchIcon {
  right: 0px !important;
  opacity: 0.68 !important;
  top: 9px !important;
}

.mainHero {
  padding-block: 40px 16px;
}
.cardsView {
  display: flex;
  align-items: center;
  gap: 40px;
}
.viewCardTypeDiv {
  padding-inline: 37px 9px;
}

.pagination {
  padding-top: 60.8px;
}

.sortByDiv,
.currencyDiv {
  display: flex;
  align-items: center;
  gap: 25px;
}
.sortByDiv p {
  color: var(--heading-text-color);
}
.filtersDiv {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 5px;
}

.dropDownContainer {
  width: 100%;
  flex-wrap: nowrap;
  background-color: #fdf8ee !important;
  max-height: 43px;
  min-width: 177px;
}

.cardHomeClass {
  height: 134px !important;
}

.cardHomeClass .cardMainContent {
  top: 90px;
  position: absolute;
}

.cardHomeClass:hover {
  border: 2px solid var(--primary-color);
  transition: 0.3s ease-in;
}

.viewCardTypeDiv p {
  color: var(--heading-text-color);
}

.cardViewDivMain {
  display: flex;
  align-items: center;
  gap: 40px;
}

.viewTypeDiv {
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
  padding-bottom: 1px;
}

.listViewTypeDiv {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding-bottom: 1px;
}

.gridIcon {
  position: relative;
  width: 28px;
  height: 12px;
}

.barIcon {
  position: relative;
  width: 29px;
  height: 16px;
}

.barIcon img {
  filter: opacity(0.6);
  fill: green !important;
}

.cardTitle {
  color: var(--text-color-v1);
  line-height: 21px;
}

.listTitle {
  color: var(--gray-color-v);
  line-height: 21px;
}

.listViewTypeDiv:hover .listTitle,
.listViewTypeDiv:hover .listIcon,
.listIconActive {
  color: var(--primary-color) !important;
}

.listIconActive svg rect {
  fill: var(--primary-color) !important;
}

.listIcon {
  width: 29px !important;
  height: 23px !important;
  color: var(--gray-color-v);
}

.listIcon svg rect {
  fill: var(--gray-color-v) !important;
}

.announcementRight,
.announcementLeft {
  padding-top: 106px;
  padding-bottom: 150px;
}

.announcementLeft {
  padding-right: 27px;
}
.announcementRight {
  padding-left: 27px;
}

.mainHeight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skeletonList,
.skeletonWid {
  width: 100% !important;
}

.productCard__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.8rem;
  column-gap: 2.45rem;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
}

@media (max-width: 1440px) {
  .cardsView {
    gap: 25px;
  }
  .viewCardTypeDiv {
    padding-inline: 0px 9px;
  }
}

@media (max-width: 1200px) {
  .announcementRight,
  .announcementLeft {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (max-width: 1130px) {
  .searchDiv {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .searchDiv {
    width: 265px;
  }
  .filtersDiv {
    gap: 20px;
    padding-top: 0px;
  }

  .cardViewDivMain {
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .searchDiv {
    width: 225px;
  }
  .filtersDiv,
  .cardsView,
  .sortByDiv {
    gap: 10px;
  }
  .dropDownContainer {
    min-width: 150px;
  }
  .announcementLeft,
  .announcementRight {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .announcementLeft {
    padding-right: 10px;
  }
  .announcementRight {
    padding-left: 10px;
  }
}

@media (max-width: 840px) {
  .viewCardTypeDiv {
    padding-inline: 0px 9px;
  }
  .dropDownContainer {
    min-width: 125px;
    max-width: 150px;
  }
}

@media (max-device-width: 767px) {
  .afterHeroCard .featureCardContainer:not(:last-child) {
    margin-bottom: 20px;
  }

  .searchDiv,
  .displayNone,
  .headingClass {
    display: none;
  }

  .mainHero {
    padding-block: 40px 23px;
  }
  .viewTypeDiv {
    gap: 5px;
  }
  .listIcon {
    width: 22px !important;
    height: 22px !important;
  }
  .cardsView {
    gap: 15px;
  }
  .cardViewDivMain {
    gap: 18px;
    padding-bottom: 6px;
    flex-direction: column;
    align-items: start;
  }
  .listViewTypeDiv {
    gap: 8px;
  }
  .gridIcon {
    width: 24px;
    height: 16px;
  }
  .filtersDiv {
    margin-top: 20px;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .sortByDiv {
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .dropDownContainer {
    min-width: 150px;
    max-width: 150px !important;
    height: 40px;
  }

  .pagination {
    padding-top: 40px;
  }

  .announcementRight > div > div:first-child {
    padding-top: 15px;
  }
  .announcementLeft {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0px !important;
  }
  .announcementRight {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-right: 0px !important;
    padding-left: 0px;
  }
}

@media (max-width: 375px) {
  .gridIcon {
    width: 18px;
    height: 12px;
  }
  .cardsView {
    gap: 7px;
  }
  /* .skeletonCard {
    max-width: 100px !important;
  } */
}

@media (max-width: 341px) {
  .dropDownContainer {
    min-width: 140px;
    height: 40px;
  }
  .listIcon {
    width: 15px !important;
    height: 22px !important;
  }
  .listIcon svg {
    width: 18px !important;
    height: 18px !important;
  }
  .cardsView {
    gap: 7px;
  }
}
