.cardContainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  background-color: var(--white-color);
  border-radius: 6px;
  box-shadow: 0px 5px 25px #0000000d;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 6px 0px 0px 6px;
  width: 833px;
  height: 529px;
}

.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 36px 35px 35px 43px;
  gap: 10px;
  flex: 1;
}

.title {
  color: var(--text-color-v2);
  margin: 0;
  word-wrap: break-word;
}
.title p {
  line-height: 45px;
}

.detail {
  color: var(--black-color);
  min-height: 150px;
  text-align: left;
}
.detail p {
  margin-top: 27px;
  color: #444444;
  line-height: 28px;
}

.date {
  color: var(--primary-color);
  margin: 0;
  min-height: 40px;
  margin-top: 24px;
}

.prodBtn {
  width: 100%;
  max-width: 354px;
  padding: 12px !important;
  min-height: 44px;
  margin-top: 4px;
  line-height: 19px;
}

@media (max-width: 1530px) {
  .title p {
    font-size: 25px;
  }
  .detail p {
    font-size: 18px;
    margin: 0px;
  }
  .date p {
    font-size: 19px;
  }
  .imageContainer {
    width: 40%;
    height: 420px;
  }
  .imageContainer img {
    object-fit: cover;
  }
  .detail,
  .date {
    min-height: auto;
  }
  .contentContainer {
    gap: 8px !important;
  }
}

@media (max-width: 1199px) {
  .imageContainer {
    width: 40%;
    height: 350px;
  }
  .title p {
    font-size: 22px;
    line-height: 23px;
  }
  .detail p {
    font-size: 15px;
    margin: 0px;
    line-height: 20px;
  }
  .date p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .cardContainer {
    flex-direction: row;
    align-items: center;
  }
  .contentContainer {
    padding: 16px 35px 16px 20px;
  }
  .title p {
    line-height: 28px !important;
  }
  .prodBtn {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
  .prodBtn {
    max-width: 100%;
  }
  .imageContainer {
    width: 100%;
    height: auto;
    display: none;
  }

  .contentContainer {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .title p {
    font-size: 18px;
  }
  .date p {
    font-size: 16px;
  }
}
