.main {
  background-color: var(--border-green);
}
.emailContainer {
  min-height: 418px;

  gap: 48px;
  text-align: center;
  padding-top: 40px;
}

.emailContainer h1 {
  color: var(--black-color) !important;
  margin-block-start: 11px;
}

.emailContainer p {
  padding-bottom: 5px;
  margin-block-start: 39px;
  color: var(--primary-color);
}

.resetEmail {
  min-height: 154px;
  width: 684px;
  background-color: var(--white-color);
  box-shadow: 0px 5px 25px var(--box-shadow);
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 47px auto auto auto;

  position: relative;
  padding: 20px 23px;
  gap: 25px;
}

.inputClass {
  padding-left: 12px !important;
  margin-block-start: 20px;
  max-width: 379px;
  justify-content: flex-start;
  display: flex;
}
.inputClass::placeholder {
  color: var(--black-color) !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  opacity: 0.78 !important;
}

.labelClass {
  font-size: 15px;
  font-weight: bold;
  font-family: var(--inter);
  color: var(--black-color);
  position: absolute;
  left: 0;
  top: -30px;
  margin-bottom: 0px !important;
  margin-block-start: 17px;
  opacity: 0.78;
}

.containerClass {
  margin-block: 90px 150px;
}
.buttonClasses {
  width: 342px;
  display: flex;
  height: 46px;
  border-radius: 5px !important;
  margin-block-start: 21px;
  margin-inline-end: 10px;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.checkEmailContainer {
  max-height: 308px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding-block: 50px;
}

.emailSentMargin {
  margin-bottom: -18px;
}

.emailLink {
  margin-block: 24px;
  color: var(--primary-color);
  font-size: 21px;
}
.resendLink {
  padding-bottom: 74px;
}
.resendLink span {
  color: var(--red-color);
  border-bottom: 2px solid var(--red-color);
}

.announcementLeft {
  padding-right: 27px;
}
.announcementRight {
  padding-left: 27px;
}

@media (max-width: 992px) {
  .announcementLeft {
    padding-right: 13px;
  }

  .announcementRight {
    padding-left: 13px;
  }
}

@media (max-width: 780px) {
  .resetEmail {
    width: auto;
  }

  .emailContainer {
    margin-top: 20px;
  }

  .containerClass {
    margin-block: 80px;
  }
}

@media (max-width: 575px) {
  .announcementLeft {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0px;
  }
  .announcementRight {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0px;
  }

  .containerClass {
    margin-block: 60px;
  }
}

@media (max-width: 500px) {
  .resetEmail {
    margin-top: 40px;
    padding-top: 45px;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .emailContainer > p {
    font-size: 14px;
    margin-top: 15px;
  }

  .emailLink {
    margin-block: 10px;
    font-size: 14px;
  }

  .resendLink {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .checkEmailContainer {
    padding-block: 30px;
    gap: 16px;
  }

  .containerClass {
    margin-block: 10px;
  }

  .buttonClasses {
    width: 100%;
  }
}
